/*font*/
@font-face {
  font-family: "Bold";
  font-display: swap;
  src: url("../webfonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Medium";
  font-display: swap;
  src: url("../webfonts/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Regular";
  font-display: swap;
  src: url("../webfonts/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Unthrift";
  font-display: swap;
  src: url("../webfonts/SVN-Unthrift.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../webfonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../webfonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../webfonts/Roboto-Medium.woff2") format("woff2");
}
/*Roboto*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  font-family: "Roboto-Regular";
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

.container {
  max-width: 1300px;
}
@media (max-width: 1366px) {
  .container {
    max-width: 1230px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 1090px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 764px;
  }
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

.btn-primary {
  background: #ED1C25;
  border-color: #ED1C25;
}
.btn-primary:hover {
  background: #ED1C25;
  border-color: #ED1C25;
  opacity: 0.8;
}

a:hover {
  color: #FCB040;
}

.sapo-detail {
  background: #e5e5e5;
  border: 1px #ccc dashed;
  padding: 10px;
  font-style: italic;
  margin: 16px 0;
}

.share {
  display: flex;
  align-items: center;
}
.share li:first-child {
  padding-right: 15px;
}
.share li {
  padding-right: 8px;
  font-size: 0.875rem;
  font-family: "Medium";
}
.share li:hover img {
  transform: scale(1.1, 1.1);
}
.share li img {
  width: 30px;
}
.share li button {
  background: #3b5997;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 3px;
  color: #fff;
}
.share li .instagram {
  background: #dc3472;
}
.share li .twitter {
  background: #1da1f2;
}
.share li .linkedin {
  background: #0077b5;
}

.nice-number {
  display: flex;
  align-items: center;
}

.pagination {
  margin: 10px 0;
}
.pagination .active a {
  color: #000 !important;
  background-color: #fff !important;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination > li > a, .pagination > li > span {
  text-decoration: solid;
  background-color: #FCB040 !important;
  border: 0 !important;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  font-family: "Roboto-Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.pagination > .active > a {
  color: #fff;
}

.breadcrumb-item.active {
  font-family: "Roboto-Medium";
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #000;
}

.ul-reset {
  padding: 0;
  margin: 0;
}
.ul-reset li {
  list-style: none;
}

.field-validation-error {
  color: #ED1C25;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #747474;
}

.slick-arrow {
  border: 0;
  width: 30px;
  height: 50px;
  color: #fff;
  background: #4F4F4F;
  font-size: 1.5rem;
  opacity: 0.1;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.4s;
}
.slick-arrow:hover {
  opacity: 1;
}
.slick-arrow.chevron-prev {
  border-radius: 4px 0 0 4px;
}
.slick-arrow.chevron-next {
  border-radius: 0 4px 4px 0;
}

.chevron-prev {
  left: 0;
}

.chevron-next {
  right: 0;
}

.header-top {
  color: #454545;
  background: #F5F5F5;
  padding: 10px 0;
  font-size: 14px;
}

.header-contact {
  margin-right: 20px;
}
.header-contact i {
  color: #ED1C25;
  margin-right: 2px;
}
.header-contact a {
  font-family: "Bold";
  color: #454545;
}

.social a {
  margin-left: 8px;
  font-size: 16px;
}
.social .facebook {
  color: #075A9B;
}
.social .instagram {
  color: #F9295B;
}
.social .twitter {
  color: #00AEF0;
}
.social .youtube {
  color: #CC191E;
}

.cart-item-header {
  border-radius: 83px;
  background: #ED1C25;
  color: #fff;
  font-size: 12px;
  font-family: "Medium";
  padding: 5px 20px;
  margin-right: 8px;
  cursor: pointer;
}

.logo {
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.text-logo {
  display: inline-block;
  font-size: 32px;
  line-height: 26px;
  font-family: "Unthrift";
  margin-left: 10px;
}

header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav > li {
  position: relative;
}
.nav > li:hover .sub-nav {
  top: 35px;
  opacity: 1;
  visibility: visible;
}
.nav > li > a {
  font-size: 16px;
  font-family: "Bold";
  text-transform: capitalize;
}

.search {
  font-size: 20px;
  font-family: "Bold";
  color: #ED1C25;
  cursor: pointer;
}

.sub-nav {
  position: absolute;
  top: 50px;
  left: 0;
  background: #FCB040;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sub-nav li {
  border-bottom: 1px solid #fff;
}
.sub-nav li:last-child {
  border-bottom: none;
}
.sub-nav li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-nav li:hover > .third-child {
  left: 100%;
  opacity: 1;
  visibility: visible;
}
.sub-nav a {
  padding: 5px 50px 5px 10px;
  display: block;
  color: #fff;
  width: max-content;
  transition: all 0.5s;
  font-family: "Medium";
}
.sub-nav a:hover {
  transform: translateX(5px);
}

.third-child {
  position: absolute;
  top: 0;
  left: 105%;
  background: #FCB040;
  border-left: 1px solid #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.third-child li:hover > .third-child {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.search-box {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  top: -100%;
  transition: all 0.5s;
}
.search-box.active {
  top: 0;
}

.search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  display: flex;
}
.search-form input, .search-form .subform button, .subform .search-form button {
  width: 500px;
  flex: 1;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.search-form button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.remove-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  cursor: pointer;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 525px;
}

.lacay1 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  animation: leaves 20s infinite;
}

.lacay2 {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  animation: leaves 25s infinite;
}

@keyframes leaves {
  0% {
    opacity: 0;
    top: 0;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    top: 80%;
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(200deg);
  }
  100% {
    top: 0;
    transform: translateX(-20px) rotate(225deg);
  }
}
.about-section {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
  background: linear-gradient(270deg, #8D0F14 51.77%, #ED1C25 91.62%);
}

.about-img {
  width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.sub-title {
  font-size: 20px;
  font-family: "Bold";
  color: #FCB040;
}

.title {
  position: relative;
  font-size: 36px;
  font-family: "Bold";
  line-height: 40px;
  text-transform: uppercase;
  color: #ED1C25;
}
.title:before {
  content: "";
  position: absolute;
  width: 132px;
  height: 4px;
  border-radius: 61px;
  background: #ED1C25;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.title.custom-color {
  color: #fff;
}
.title.custom-color:before {
  left: 0;
  transform: translateX(0);
  background: #fff;
}
.title.custom-line:before {
  left: 0;
  transform: translateX(0);
}

.btn-global {
  background: #FCB040;
  color: #ED1C25;
  padding: 8px 16px;
  border-radius: 99px;
  font-size: 14px;
  transition: all 0.5s;
}
.btn-global i {
  margin-left: 5px;
}
.btn-global:hover {
  color: #fff;
  padding: 8px 20px;
}

.intro-section {
  background: #FDF1D8;
  padding: 40px 0;
}

.img-intro {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
}

.card-intr {
  background: none;
  border: 0;
}

.box-count {
  justify-content: center;
  margin-top: 10px;
  font-size: 36px;
  font-family: "Bold";
}

.text-card {
  font-size: 14px;
}

.padding-section {
  padding: 40px 0;
  overflow: hidden;
}
.padding-section .row {
  margin: 0 -6px;
}
.padding-section .row [class*=col-] {
  padding: 0 6px;
}

.filter-home {
  margin: 50px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-item {
  padding: 10px 15px;
  background: #F1F1F1;
  border-radius: 51px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s;
}
.filter-item.active {
  background: #ED1C25;
  color: #fff;
}
.filter-item:hover {
  background: #ED1C25;
  color: #fff;
}

.product {
  background: none;
  border: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.card-thuml {
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
.card-thuml img {
  width: 100%;
  height: 284px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  transition: transform 0.5s;
}
.card-thuml:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px 10px 0px 0px;
  opacity: 0.5;
  background: #000;
  transform: scale(0);
  transition: all 0.5s;
  z-index: 1;
}
.card-thuml:hover:before {
  transform: scale(1);
}
.card-thuml:hover .product-action {
  transform: scale(1);
}
.card-thuml:hover img {
  transform: scale(1.5) rotate(20deg);
}

.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.8s;
  transform: scale(0);
  z-index: 1;
}
.product-action i {
  transition: all 0.5s;
}
.product-action a {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product-action a:hover i {
  transform: scale(1.5);
}

.view {
  background: #ED1C25;
}

.qick-cart {
  background: #FEBD19;
}

.price {
  float: left;
  font-size: 16px;
  font-family: "Roboto-Bold";
  color: #ED1C25;
}

.price-sale {
  font-size: 14px;
  float: right;
}

.product-name {
  font-size: 16px;
  font-family: "Roboto-Bold";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  color: #000;
  margin-bottom: 10px;
}

.discont {
  position: absolute;
  top: 15px;
  left: 10px;
  color: #fff;
  border-radius: 61px;
  padding: 3px 10px;
  background: #ED1C25;
  font-size: 14px;
  z-index: 1;
  font-family: "Roboto-Regular";
}

.media-img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-right: 10px;
}

.media-title {
  font-size: 24px;
  font-family: "Bold";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.media-sub {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  font-size: 16px;
  color: #454545;
}

.intro-media {
  margin-bottom: 20px;
}

.custom-section {
  position: relative;
}
.custom-section:before {
  content: "";
  position: absolute;
  width: 372px;
  height: 195px;
  background: url(images/chicken.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
  bottom: -20%;
}

.article-sc {
  position: relative;
}
.article-sc:before {
  content: "";
  position: absolute;
  width: 372px;
  height: 195px;
  background: url(images/ga.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  left: 0;
  top: -15%;
}

.list-logo {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.list-logo .slick-slide {
  margin: 0 20px;
}
.list-logo .slick-list {
  margin: 0 -20px;
}
.list-logo a {
  display: block;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  transition: all 0.5s;
  overflow: hidden;
}
.list-logo a:hover {
  border: 1px solid #ED1C25;
}
.list-logo a:hover img {
  transform: scale(1.1);
}
.list-logo img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 2;
  transition: all 0.5s;
}

.sub {
  padding: 30px 0;
  background: #FCB040;
}

.footer-phone {
  display: block;
  font-size: 24px;
  font-family: "Bold";
  color: #000;
}
.footer-phone:hover {
  color: #fff;
}

.phone-icon {
  font-size: 40px;
  color: #ED1C25;
}

.subform input, .subform button {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  border: 0;
  outline: none;
}
.subform input::placeholder, .subform button::placeholder {
  text-align: center;
}
.subform button {
  margin-top: 10px;
  background: #ED1C25;
  color: #fff;
  font-family: "Bold";
}

footer {
  padding: 35px 0;
  background: #8D0F14;
}

.ft-title {
  font-size: 20px;
  font-family: "Roboto-Bold";
  color: #fff;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  margin-top: 20px;
}
.footer-social .icon {
  margin-right: 14px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #FCB040;
  font-size: 16px;
}
.footer-social .icon a {
  color: #FCB040;
}

.ul-ft li {
  padding: 5px 0;
}
.ul-ft a {
  font-size: 16px;
  color: #fff;
}

.copyright {
  text-align: center;
  font-size: 12px;
  background: #670004;
  padding: 5px 0;
  color: #fff;
}

.zalo {
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zalo img {
  width: 35px;
  height: 35px;
}

.box-link {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: end;
  gap: 15px;
}

.tel {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tel img {
  width: 50px;
  height: 50px;
}

.backtop {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #ED1C25;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
}

.list-feedback .slick-slide {
  margin: 0 15px;
}
.list-feedback .slick-list {
  margin: 0 -15px;
}

.feedback-item {
  position: relative;
  height: 308px;
}
.feedback-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ED1C25;
}
.feedback-item .dot {
  position: absolute;
  width: 46px;
  height: 46px;
  color: #fff;
  background: #ED1C25;
  display: grid;
  place-items: center;
  top: 0;
  right: 5%;
  border-radius: 5px;
}

.info-feedback .name {
  color: #333;
  text-transform: uppercase;
  font-family: "Roboto-Bold";
}
.info-feedback p {
  color: #677289;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto-Regular";
}

.feedback-text {
  padding: 35px 25px 25px 25px;
  height: 200px;
  color: #333;
  text-align: justify;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto-Regular";
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  overflow: hidden;
}
.slick-dots button {
  transition: all 0.5s ease-in-out;
  display: block;
  margin: 5px;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  padding: 0;
  border: none;
  background-color: #D9D9D9;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #ED1C25;
}

.parent {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 30px;
}

.parent-item-1 {
  grid-area: 1/1/9/3;
}

.parent-item-2 {
  grid-area: 1/3/9/5;
}

.parent-item-3 {
  grid-area: 1/5/3/7;
}

.parent-item-4 {
  grid-area: 3/5/5/7;
}

.parent-item-5 {
  grid-area: 5/5/7/7;
}

.parent-item-6 {
  grid-area: 7/5/9/7;
}

.card-articl-h {
  border: 0;
  background: none;
}
.card-articl-h img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.2;
  transition: transform 0.5s;
}
.card-articl-h img:hover {
  transform: scale(1.5) rotate(20deg);
}
.card-articl-h:not(:nth-child(-n+2)) {
  flex-direction: row;
}
.card-articl-h:not(:nth-child(-n+2)) img {
  width: 108px;
  height: 100%;
}
.card-articl-h:not(:nth-child(-n+2)) .box-img {
  width: 108px;
}
.card-articl-h:not(:nth-child(-n+2)) .card-body {
  width: calc(100% - 108px);
  margin-left: 10px;
}
.card-articl-h:not(:nth-child(-n+2)) .date {
  display: none;
}
.card-articl-h:not(:nth-child(-n+2)) .subject {
  text-transform: capitalize;
  font-size: 16px;
}
.card-articl-h:not(:nth-child(-n+2)) .sub-ar {
  font-size: 12px;
}

.date {
  font-size: 14px;
  font-family: "Roboto-Regular";
  color: #ED1C25;
  padding: 10px 0;
}

.subject {
  font-family: "Roboto-Bold";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  line-height: 24px;
}
.subject:hover {
  color: #ED1C25;
}

.sub-ar {
  margin-top: 6px;
  font-size: 14px;
  font-family: "Roboto-Regular";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.category-title {
  color: #fff;
  background: #8D0F14;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: "Bold";
  border-radius: 5px 5px 0 0;
  font-size: 16px;
}

.accordion {
  border: 1px solid #EBEBEB;
  border-radius: 0 0 5px 5px;
}
.accordion .card {
  border: 0;
}
.accordion .card:last-child .card-header {
  margin-bottom: -1px !important;
}
.accordion .card:last-child .card-body {
  border-bottom: 0;
}
.accordion .card-header {
  background: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 0 !important;
}
.accordion .card-header a {
  font-family: "Roboto-Medium";
}
.accordion .card-header h2 {
  font-family: "Medium";
}
.accordion h2 {
  font-size: 14px;
  text-transform: uppercase;
}
.accordion a:hover {
  color: #ED1C25;
}
.accordion .btn-card {
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
}
.accordion button[aria-expanded=true] [class*=fa-chevron-down] {
  transform: rotate(180deg);
}
.accordion [class*=fa-chevron-down] {
  font-size: 12px;
  transition: all 0.3s linear;
}
.accordion .card-body {
  border-bottom: 1px solid #EBEBEB;
  padding: 5px 0;
}
.accordion .card-body li {
  position: relative;
  list-style: none;
  padding: 6px 25px;
  line-height: 18px;
}
.accordion .card-body a {
  font-size: 14px;
}
.accordion .card-body .icon-dropdown-cat {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
}
.accordion .menu-child__lv2 {
  border-left: 1px solid;
  margin-top: 5px;
}
.accordion .menu-child__lv2 li {
  padding: 6px 15px 6px 10px;
}

.breadcrumb {
  background: transparent;
  align-items: center;
}
.breadcrumb .breadcrumb-item {
  font-size: 14px;
}
.breadcrumb .breadcrumb-item::before {
  display: none;
}

.box-article.row {
  margin: 0 -10px;
}
.box-article.row [class*=col-] {
  padding: 0 10px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.sort label {
  margin-bottom: 0;
  margin-right: 10px;
}

#sort {
  border-radius: 5px;
  border: 1px solid #EBEBEB;
  font-size: 14px;
  padding: 8px 6rem 6px 15px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("images/chevron-down-solid.png");
  background-position: calc(100% - 15px) calc(1em - 1px), calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 10px 10px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

.product-detail .product-info {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eff2f5;
}
.product-detail .product-name-detail {
  font-family: "Bold";
  font-size: 20px;
  color: #000;
}
.product-detail .code {
  font-size: 14px;
  margin: 8px 0 4px;
}
.product-detail .meta-vote {
  font-size: 14px;
}
.product-detail .start-box i {
  font-size: 14px;
}

.description {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eff2f5;
}

.info-hotline {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "Roboto-Regular";
}
.info-hotline a {
  color: #007bff;
}

.box-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-price span {
  font-size: 14px;
}
.box-price .price {
  font-family: "Bold";
  font-size: 22px;
  color: #f00;
  margin-left: 5px;
  margin-right: 10px;
}
.box-price .price-sale {
  text-decoration: line-through;
  color: #959595;
}
.box-price .discount {
  color: #fff;
  background: #f00;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.stock-off {
  color: #fff;
  background: #757575;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
}

.slider-for > .slider-for-item:not(:first-child) {
  display: none;
}
.slider-for .slick-list {
  padding-right: 1px;
}
.slider-for .slider-for-item {
  display: block;
  background: #fff;
  padding: 10px;
  border: 1px solid #EEEEEE;
}
.slider-for img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.slider-nav {
  margin-top: 10px;
}
.slider-nav .slick-slide {
  margin: 0 5px;
}
.slider-nav .slick-list {
  margin: 0 -5px;
}
.slider-nav > .slider-nav-item:not(:first-child) {
  display: none;
}
.slider-nav .slick-list {
  margin: 0 -2px;
  padding-right: 1px;
}
.slider-nav .slick-slide {
  padding: 0 2px;
}
.slider-nav .slick-current .slider-nav-item {
  border-color: #FCB040;
}
.slider-nav .slick-arrow {
  height: calc(100% - 6px);
  top: 0;
  transform: none;
  border-radius: 0 !important;
  font-size: 16px;
  width: 25px;
  opacity: 0.4;
}
.slider-nav .slick-arrow:hover {
  opacity: 1;
}
.slider-nav .chevron-prev {
  left: 0;
}
.slider-nav .chevron-next {
  right: 0;
}
.slider-nav .slider-nav-item {
  border: 1px solid #EEEEEE;
  padding: 5px;
}
.slider-nav img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

#formBookProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
#formBookProduct .quantity {
  display: flex;
  align-items: center;
}
#formBookProduct .nice-number {
  position: relative;
  padding-right: 27px;
  border-radius: 4px;
  overflow: hidden;
}
#formBookProduct .input-number {
  width: 44px !important;
  border: 1px solid #E1E1E1;
  border-radius: 0;
  height: 39px;
  font-size: 14px;
  outline: none;
  text-align: center;
  padding: 0;
  border-radius: 4px 0 0 4px;
}
#formBookProduct .input-number + .btn-light {
  top: 0;
}
#formBookProduct .btn-light {
  background: #F5F5F5;
  box-shadow: none;
  border-radius: 0;
  width: 28px;
  padding: 0;
  position: absolute;
  top: 19px;
  right: 0;
  font-size: 12px;
  border: 1px solid #E6E6E6;
}
#formBookProduct .add-cart {
  position: relative;
  padding: 8px 0;
  border-radius: 15px;
  color: #fff;
  flex: 1;
  background: linear-gradient(90deg, #0da566 50%, #fff 50%);
  background-size: 203%;
  background-position: -1px;
  border: 1px solid transparent;
  margin-left: 15px;
  font-size: 14px;
  transition: all 0.4s;
}
#formBookProduct .add-cart:hover {
  color: #ED1C25;
  border-color: #ED1C25;
  background-position: 99%;
}
#formBookProduct .btn-buy {
  background: linear-gradient(90deg, #f00 50%, #fff 50%);
  background-size: 203%;
  background-position: -1px;
}
#formBookProduct .btn-buy:hover {
  color: #f00;
  border-color: #f00;
}

.box-info {
  border-radius: 4px;
  background: #fff;
  padding: 15px;
}

.relate-title {
  font-family: "Bold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-related {
  padding: 10px;
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  transition: all 0.4s;
}
.product-related:hover {
  box-shadow: rgba(17, 17, 26, 0.3) 0px 0px 16px;
}
.product-related .image {
  display: block;
  width: 30%;
  overflow: hidden;
  flex-shrink: 0;
}
.product-related .image img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: all 0.4s;
}
.product-related .image img:hover {
  transform: scale(1.05);
}
.product-related .body {
  margin-left: 10px;
  width: 100%;
}
.product-related .subject {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 18px;
}
.product-related .subject:hover, .product-related .subject a:hover {
  color: #ED1C25;
}
.product-related .box-price {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-related .price {
  font-size: 14px;
  color: #fe0000;
}
.product-related .price-sale {
  font-size: 12px;
  color: #959595;
  text-decoration: line-through;
}
.product-related .discount {
  color: #fff;
  background-color: #fe0000;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 12px;
}

.side-note {
  padding: 0 15px;
  background-color: #eff3f6;
  margin-top: 15px;
  border-radius: 10px;
}
.side-note .note-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 14px;
}
.side-note .note-item:not(:last-child) {
  border-bottom: 1px solid #d6dde3;
}
.side-note img {
  margin-right: 15px;
}
.side-note h5 {
  color: #000;
  margin: 0;
  font-size: 14px;
}

.article-item {
  margin-bottom: 20px;
}
.article-item .article-img {
  overflow: hidden;
  display: block;
}
.article-item .article-img img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  transition: all 0.4s;
}
.article-item .article-img img:hover {
  transform: scale(1.1);
}
.article-item .subject {
  font-size: 16px;
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  height: 51px;
}

.article-name {
  font-family: "Roboto-Bold";
  font-size: 24px;
}

.content-detail h2 {
  font-size: 24px;
}
.content-detail h3 {
  font-size: 20px;
}
.content-detail img {
  max-width: 100% !important;
  height: auto;
  object-fit: contain;
}
.content-detail iframe {
  max-width: 100% !important;
}
.content-detail table {
  width: auto !important;
}

.recent-post .subject {
  font-size: 16px !important;
}

.recent-post-img {
  overflow: hidden;
}
.recent-post-img:hover img {
  transform: scale(1.05);
}
.recent-post-img img {
  width: 100px;
  height: 80px;
  transition: all 0.5s;
  object-fit: cover;
}

.related-list {
  padding-bottom: 20px;
  margin-top: 35px;
}
.related-list .slick-slide {
  margin: 0 10px;
}
.related-list .slick-list {
  margin: 0 -10px;
}
.related-list > .article-item:not(:first-child) {
  display: none;
}
.related-list > .article-item {
  width: 25%;
}
.related-list .slick-list {
  margin: 0 -10px;
}
.related-list .slick-slide {
  padding: 0 10px;
}

.post-sidebar-title {
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 0 10px 0 10px;
  font-family: "Roboto-Bold";
  font-size: 20px;
}

.shopping-cart {
  padding: 30px 0 100px;
}
.shopping-cart .btn-update {
  margin-top: 23px;
  float: right;
}

.my-cart {
  overflow: hidden;
}

.cart-item:not(:first-child) {
  border-top: 1px solid #E6E6E6;
}

.scroll-hidden {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 10px 30px 10px;
  overflow-y: auto;
  max-height: 600px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 15px;
}

.cart-item-details {
  display: flex;
  align-items: center;
}

.cart-item-img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 10px;
}

.cart-item-name {
  font-family: "Roboto-Medium";
  font-size: 14px;
  line-height: normal;
  margin-left: 10px;
  width: 200px;
}
.cart-item-name:hover {
  color: #ED1C25;
}

.cart-item-price {
  font-size: 14px;
}

.cart-item-quantity .input-number {
  width: 44px !important;
  border: 1px solid #E6E6E6;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  height: 30px;
  font-size: 14px;
  outline: none;
  text-align: center;
  padding: 0;
}
.cart-item-quantity .btn-light {
  background: #F5F5F5;
  box-shadow: none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 12px;
  border: 1px solid #E6E6E6;
}

.cart-item-total {
  font-family: "Medium";
  width: 100px;
  text-align: right;
}

.box-checkout {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.box-checkout .title {
  font-family: "Bold";
  font-size: 20px;
}
.box-checkout .title:before {
  display: none;
}
.box-checkout .field-validation-error {
  transform: translate(5px, 0);
}

.title-order {
  font-size: 28px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  color: #fff;
  background: #ED1C25;
}

.box-order {
  padding: 20px 30px 15px;
  background: #fff;
  font-size: 20px;
}
.box-order .line {
  border-top: 2px dashed rgba(0, 0, 0, 0.4);
  margin: 20px 0 25px;
}

.total-price {
  color: #fff;
  font-family: "Medium";
  padding: 5px 10px;
  background: #ED1C25;
  font-size: 12px;
  border-radius: 10px;
}

.btn-order {
  font-size: 20px;
  padding: 6px;
  text-transform: uppercase;
  color: #fff;
  background: #ED1C25;
  text-align: center;
}
.btn-order:hover {
  background: #d76466;
}

.btn-continue {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.btn-continue:hover {
  color: #ED1C25;
}

.box-inner {
  font-size: 14px;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.order-info img {
  width: 30px;
}
.order-info button {
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: underline;
  color: #212529;
  background: transparent;
}
.order-info button:hover {
  color: #ED1C25;
}

.box-name {
  background: #ccc;
  padding: 0.5rem 1.5rem;
  color: #000;
  font-family: "Bold";
}

.btn-order {
  padding: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  background: #12b895;
  text-align: center;
  display: block;
  font-size: 20px;
  font-family: "Bold";
}
.btn-order:hover {
  color: #fff;
}

.empty-cart {
  text-align: center;
}
.empty-cart a {
  display: block;
}

.cart-empty {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.success-message {
  text-align: center;
}

.success-message__icon {
  max-width: 40px;
}

.success-message__title {
  color: #3DC480;
  transform: translateY(25px);
  opacity: 0;
  transition: all 200ms ease;
}
.active .success-message__title {
  transform: translateY(0);
  opacity: 1;
}

.success-message__content {
  color: #000;
  font-family: "Bold";
  transform: translateY(25px);
  opacity: 0;
  transition: all 200ms ease;
  transition-delay: 50ms;
}
.active .success-message__content {
  transform: translateY(0);
  opacity: 1;
}

.icon-checkmark circle {
  fill: #3DC480;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 400ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}
.icon-checkmark path {
  transition: stroke-dashoffset 350ms ease;
  transition-delay: 100ms;
}
.active .icon-checkmark circle {
  transform: scale(1);
}

.item-card {
  margin-bottom: 20px;
}
.item-card img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: contain;
}
.item-card .media-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-card .media-body .info-cart {
  width: 60%;
}
.item-card .media-body .info-cart h5 {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.item-card .media-body .info-cart .quy-cach {
  color: #7E7E7E;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.item-card .media-body .cart-money {
  color: #12b895;
  text-align: right;
  font-family: "Medium";
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
}

.media-thuml {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  position: relative;
}
.media-thuml .cart-number {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0.75;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5%;
  right: -10%;
  font-size: 12px;
}

.total {
  padding: 20px 0;
}
.total p {
  color: #7E7E7E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.total span {
  color: #ED1C25;
  text-align: right;
  font-family: "Medium";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

#form-contact {
  background: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #FCB040;
  padding: 20px;
}
#form-contact button {
  background: #FCB040;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Medium";
}

.ul-ft a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.header-mb {
  display: none;
}

.title-check {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "Bold";
  text-transform: uppercase;
}

.title-contact {
  font-size: 30px;
  font-family: "Roboto-Bold";
  text-transform: uppercase;
}

.category {
  position: sticky;
  top: 130px;
}

/*.cart{
    position:relative;
    width:40px;
    height:40px;
    &:before{
        content:"";
    }
}*/
.qr-code {
  display: none;
}
.qr-code img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.box-icon {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  color: #ED1C25;
  border-radius: 5px;
  background: #F5F5F5;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-icon i {
  margin-right: 4px;
  font-size: 18px;
}

.itemshop {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #fff;
  background: #FCB040;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Bold";
}

.banner-mb {
  display: none;
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
  .banner-mb {
    display: block;
  }
  .banner-mb img {
    object-fit: cover;
    aspect-ratio: 2;
    width: 100%;
  }
  .header-top, header {
    display: none;
  }
  .logo img {
    width: 120px;
    aspect-ratio: 1.5;
    object-fit: contain;
  }
  .header-mb {
    display: block;
    background: #fff;
    padding: 5px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  .hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 99;
  }
  .hamburger .bar {
    position: absolute;
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 3px;
    transition: all 0.5s;
  }
  .hamburger .bar:nth-child(1) {
    transform: translateY(-10px);
    width: 20px;
    left: 10px;
  }
  .hamburger .bar:nth-child(2) {
    transform: translateY(10px);
    width: 15px;
    left: 10px;
  }
  .hamburger.active .bar {
    background: red;
  }
  .hamburger.active .bar:nth-child(1) {
    width: 30px;
    transform: translateY(0) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    width: 30px;
    transform: translateY(0) rotate(315deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateX(60px);
  }
  .menu-mb {
    position: fixed;
    top: 90px;
    left: -100%;
    width: 45%;
    height: calc(100vh - 90px);
    background: #00502F;
    z-index: 99 !important;
    padding-top: 20px;
    overflow-y: auto;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-mb.active {
    left: 0;
  }
  .menu-mb .header-search-mb {
    padding: 0 10px;
    position: relative;
  }
  .menu-mb .header-search-mb .form-control {
    border-radius: 5px;
    font-size: 14px;
    box-shadow: none;
  }
  .menu-mb .header-search-mb .form-control::placeholder {
    font-style: italic;
    color: #AFAFAF;
  }
  .menu-mb .header-search-mb button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    border: 0;
    background: transparent;
    color: #00502F;
  }
  .nav-mb {
    margin-top: 10px;
  }
  .nav-mb a {
    text-transform: capitalize;
  }
  .nav-mb > li {
    position: relative;
  }
  .nav-mb > li > a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 8px 20px;
  }
  .expand-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .expand-bar::before, .expand-bar::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: all 0.3s;
  }
  .expand-bar::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .expand-bar.open::before, .expand-bar.open::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .sub-nav-mb {
    display: none;
  }
  .sub-nav-mb > li > a {
    display: block;
    font-size: 14px;
    background: #fff;
    padding: 5px 30px;
  }
  .socials-mb {
    width: calc(100% - 20px);
    margin: 1.5rem 10px 1rem;
    text-align: center;
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 1rem;
  }
  .socials-mb img {
    width: 33px;
    aspect-ratio: 1;
  }
  .about-img {
    margin-bottom: 30px;
  }
  .card-intr {
    margin-bottom: 20px;
  }
  .filter-home {
    flex-wrap: wrap;
  }
  .custom-section:before {
    width: 200px;
    height: 100px;
    bottom: 0;
  }
  .article-sc:before {
    display: none;
  }
  .list-feedback {
    overflow: hidden;
  }
  .list-feedback .slick-slide {
    margin-bottom: 30px;
  }
  .chevron-next {
    right: 0;
  }
  .parent {
    display: block;
  }
  .card-articl-h {
    margin-bottom: 20px;
  }
  .card-articl-h img {
    aspect-ratio: 2;
  }
  .padding-section {
    overflow: hidden;
  }
  .ft-title {
    margin-top: 30px;
  }
  .title-contact, .product-name-detail {
    margin-top: 20px;
  }
  .chevron-prev {
    left: 0;
  }
}
@media (max-width: 600px) {
  .menu-mb {
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
  }
  .banner-mb img {
    aspect-ratio: 1.5;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .padding-section {
    padding: 20px 0;
  }
  .card-thuml img {
    height: 200px;
  }
  .discont {
    font-size: 12px;
  }
  .product-bd {
    padding: 10px;
  }
  .media-title {
    font-size: 18px;
  }
  .media-sub {
    font-size: 14px;
  }
  .media-img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  .custom-section:before {
    display: none;
  }
  .sub-text {
    text-align: center !important;
    margin-bottom: 10px;
  }
  .filter {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: start;
  }
  .sort {
    margin-top: 10px;
    margin-left: unset;
  }
  .breadcrumb {
    padding-left: 0;
    font-size: 12px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
  }
  .article-name {
    font-size: 20px;
  }
  #formBookProduct .add-cart {
    font-size: 12px;
  }
  .scroll-hidden {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: max-content;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .title-order, .success-message__title {
    font-size: 20px;
  }
  .btn-order {
    font-size: 14px;
  }
  .total span {
    font-size: 20px;
  }
  .cart-item-total, .cart-item-price {
    text-align: center;
    width: 100px;
  }
  .cart-item {
    padding: 10px;
  }
  #formBookProduct {
    flex-wrap: wrap;
  }
  #formBookProduct .quantity {
    width: 100%;
    margin-bottom: 10px;
  }
  #formBookProduct .add-cart {
    margin: 0;
    border-radius: 5px;
  }
  #formBookProduct .btn-buy {
    margin-left: 15px;
  }
  .price {
    font-size: 16px !important;
  }
  .related-list .slick-slide {
    margin: 0 5px;
  }
  .related-list .slick-list {
    margin: 0 -5px;
  }
  .border-right {
    margin-bottom: 20px;
  }
  .logo {
    width: 120px;
    height: 50px;
  }
  .logo img {
    width: 120px;
    height: 50px;
    object-fit: contain;
  }
}
